<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вывод таблицы слов с количеством повторений и значением IDF</title>
<style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Слово</th>
                <th>TF</th>
                <th>IDF</th>
            </tr>
        </thead>
        <tbody>
            {% for word, tf, idf in table_data %}
            <tr>
                <td>{{ word }}</td>
                <td>{{ tf }}</td>
                <td>{{ idf }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>